.check-container {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #1d3557, #457b9d);
    color: #f1faee;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header {
    text-align: center;
}


.header .logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.tagline {
    font-size: 18px;
    color: #0b6fad;
    font-style: italic;
    margin-bottom: 20px;
}

.forms {
    background: #f1faee;
    padding: 20px;
    border-radius: 10px;
    color: #1d3557;
    max-width: 600px;
    margin: auto;
}

.forms h2 {
    font-size: 24px;
    color: #1d3557;
    margin-bottom: 20px;
}

.certificate-input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 16px;
}

.verify-button {
    background: linear-gradient(to right, #1d3557, #457b9d);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.verify-buttonx {
    background: linear-gradient(to right, #1d3557, #457b9d);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 15px;
}

.bttn {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.verify-button:hover {
    background: linear-gradient(to right, #457b9d, #1d3557);
}

.verify-buttonx:hover {
    background: linear-gradient(to right, #457b9d, #1d3557);
}

.result-message {
    margin-top: 20px;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.certificate-details {
    margin-top: 20px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: left;
    color: #333;
}

.certificate-details h3 {
    margin-bottom: 10px;
    color: #1d3557;
}

.certificate-details p {
    margin: 5px 0;
    font-size: 16px;
    line-height: 1.4;
}

.result-message.success .certificate-details {
    background: #e8f5e9;
    border-color: #4caf50;
}

.result-message.error {
    color: #fff;
    background: #f44336;
}

.certificate-details p {
    display: flex;
    justify-content: space-between;
}

